* {
  font-family: sans-serif;
}

.resizable {
  padding-top: 0.5em;
  position: absolute;
}

.resizable p {
  margin: 0;
}

.resizable textarea[class*=text] {
  background: #ffe400;
  padding: 4px;
}

.resizable textarea[class*=head] {
  height: 1.5em;
  width: 130px;
  max-height: 1.5em;
  min-height: 1.5em;
  vertical-align: middle;
  background: #fff17a;
}

.resizable .ui-icon {
  vertical-align: center;
}

.resizable textarea {
  margin: 0;
  width: 150px;
  height: 150px;
  background: white;
  resize: none;
  border: none;
}

.resizable textarea:focus {
  outline: none;
}

.ui-widget-content:active {
  z-index: 2;
}
.ui-widget-content {
  display: inline-block;
  background: #fff17a;
  box-shadow: 1px 1px 2px 0px #dedede;
  z-index: 1;
}

.ui-wrapper {
  padding: 0 !important;
}
